<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Overflow</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(página atual)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/categorias">Categorias</a>
      </li>
      {{#if user}}
        <li class="nav-item">
        <a class="nav-link " href="/usuarios/logout">Sair</a>
      </li>
      {{else}}
      <li class="nav-item">
        <a class="nav-link " href="/usuarios/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="/usuarios/registro">Registro</a>
      </li>
      {{/if}}
      
      <li class="nav-item">
        <a class="nav-link " href="/admin/postagens">Posts ADM</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="/admin/categorias">Categorias ADM</a>
      </li>
    </ul>
  </div>
</nav>
